---
layout: layouts/default
pagination: 
    data: collections.posts
    size: 12
    reverse: true
    alias: posts
---

<nav class="mdc-tab-bar article-page-list" role="tablist">
    <div class="mdc-tab-scroller">
        <div class="mdc-tab-scroller__scroll-area">
            <div class="mdc-tab-scroller__scroll-content">
                {%- for pageEntry in pagination.pages %}
                <button class="mdc-tab {% if page.url == pagination.hrefs[forloop.index0] %}mdc-tab--active{% endif %}" role="tab" {% if page.url == pagination.hrefs[forloop.index0] %} aria-selected="true"{% else %} aria-selected="false"{% endif %} {% if page.url == pagination.hrefs[0] %}tabindex="0"{% else %}tabindex="-1"{% endif %} onclick="window.location.href='{{ pagination.hrefs[forloop.index0] }}'" id="mdc-tab-{{ forloop.index }}">
                    <span class="mdc-tab__content">
                        <span class="mdc-tab__text-label">Page {{ forloop.index }}</span>
                    </span>
                    <span class="mdc-tab-indicator {% if page.url == pagination.hrefs[forloop.index0] %}mdc-tab-indicator--active{% endif %}">
                        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                    </span>
                    <span class="mdc-tab__ripple"></span>
                </button>
                {%- endfor %}
            </div>
        </div>
    </div>
</nav>

<h1 class="mdc-typography mdc-typography--headline2">My Thoughts</h1>

<div class="mdc-layout-grid__inner">
    {% for post in posts %}
    <div class="mdc-layout-grid__cell">
        <div class="mdc-card">
            <div class="mdc-card__primary-action" onclick="window.location.href='{{ post.url }}'">
                <div class="article-card__primary">
                    <h2 class="article-card_title mdc-typography mdc-typography--headline5">{{ post.data.title }}
                    </h2>
                    <h3 class="article-card__subtitle mdc-typography mdc-typography--subtitle2">
                        {{ post.date | date: "%Y-%m-%d" }}</h3>
                </div>
                <div class="article-card__secondary mdc-typography mdc-typography--body1">{{ post.data.subtitle }}</div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
