---
layout: layouts/default
pagination:
  data: collections.doublePagination
  size: 1
  alias: tag
permalink: /{% if tag.tagName == "blog" %}{{ tag.tagName }}/{% if tag.pageNumber!=0 %}{{ tag.pageNumber }}/{% endif %}{% else %}tags/{{ tag.tagName }}/{% if tag.pageNumber!=0 %}{{ tag.pageNumber }}/{% endif %}{% endif %}
---

<nav class="mdc-tab-bar article-page-list" role="tablist">
    <div class="mdc-tab-scroller">
        <div class="mdc-tab-scroller__scroll-area">
            <div class="mdc-tab-scroller__scroll-content">
                {% assign blog_text = "blog" %}
                {% for postPage in collections.doublePagination %}            
                {% if postPage.tagName == tag.tagName %}
                <button class="mdc-tab {% if tag.pageNumber == postPage.pageNumber %}mdc-tab--active{% endif %}" role="tab" {% if tag.pageNumber == postPage.pageNumber %} aria-selected="true"{% else %} aria-selected="false"{% endif %} {% if tag.pageNumber == postPage.pageNumber %}tabindex="0"{% else %}tabindex="-1"{% endif %} onclick="window.location.href='/{% if postPage.tagName == blog_text %}{{ postPage.tagName }}/{% if postPage.pageNumber!=0 %}{{ postPage.pageNumber }}/{% endif %}{% else %}tags/{{ postPage.tagName }}/{% if postPage.pageNumber!=0 %}{{ postPage.pageNumber }}/{% endif %}{% endif %}'" id="mdc-tab-{{ forloop.index }}">
                    <span class="mdc-tab__content">
                        <span class="mdc-tab__text-label">Page {{ postPage.pageNumber }}</span>
                    </span>
                    <span class="mdc-tab-indicator {% if tag.pageNumber == postPage.pageNumber %}mdc-tab-indicator--active{% endif %}">
                        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                    </span>
                    <span class="mdc-tab__ripple"></span>
                </button>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</nav>

<h1 class="mdc-typography mdc-typography--headline2">{% if tag.tagName == "blog" %}My Thoughts{% else %}Posts tagged "{{ tag.tagName }}"{% endif %}</h1>

<div class="mdc-layout-grid__inner">
    {% for post in tag.pageData %}
    {% include snippets/post-card.html %}
    {% endfor %}
</div>
