---
layout: layouts/default
title: Mark's Blog
subtitle: Topical thoughts.
pagination:
  data: collections.tagPages
  size: 1
  alias: tag
permalink: /blog/tags/{{ tag.tagName }}/{% if tag.pageNumber!=0 %}{{ tag.pageNumber }}/{% endif %}
---

<h1 class="mdc-typography mdc-typography--headline2">Posts tagged "{{ tag.tagName }}"</h1>

{% comment %}
In order for the pagination list to work, we need to set up two things:
- currentCollection: the collection we want to iterate over (e.g. blog pages or tag pages)
- linkHead: the head of the pagination link (e.g. `/blog/` or `/blog/tags/tech/`)
{% endcomment %}
{% assign currentCollection = collections.tagPages %}
{% capture linkHead %}/blog/tags/{{ tag.tagName }}/{% endcapture %}

{% include 'snippets/post-pagination.html' %}

<div class="mdc-layout-grid__inner">
  {% for post in tag.pageData %}
  {% include 'snippets/post-card.html' %}
  {% endfor %}
</div>

<footer>
  <div class="fabs">
    <button class="mdc-fab mdc-fab--extended fab" aria-label="Favorite" onclick="window.location.href='/blog/'">
      <div class="mdc-fab__ripple"></div>
      <span class="mdc-fab__icon material-icons">library_books</span>
      <span class="mdc-fab__label">Main Blog</span>
    </button>
    <button class="mdc-fab mdc-fab--extended fab" aria-label="Favorite" onclick="window.location.href='/blog/tags/'">
      <div class="mdc-fab__ripple"></div>
      <span class="mdc-fab__icon material-icons">label</span>
      <span class="mdc-fab__label">All Tags</span>
    </button>
  </div>
</footer>
{% capture title %}{{tag.tagName}}, page {{ tag.pageNumber }} - Mark's Blog{% endcapture %}
{% capture description %}Everything I've written about {{tag.tagName}}{% endcapture %}
{% pageMetadata, title, description %}
