<aside class="mdc-drawer" id="app-drawer">
    <div class="mdc-drawer__header">
        <h3 class="mdc-drawer__title">Mark Bestavros</h3>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list" id="drawer-list">
            <a class="mdc-list-item mdc-list-item--activated" href="#" aria-current="page">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
                <span class="mdc-list-item__text">Home</span>
            </a>

            <hr class="mdc-list-divider">
            <h6 class="mdc-list-group__subheader">About</h6>
            <a class="mdc-list-item" href="#">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">work</i>
                <span class="mdc-list-item__text">Work</span>
            </a>
            <a class="mdc-list-item" href="#">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">school</i>
                <span class="mdc-list-item__text">Education</span>
            </a>
            <a class="mdc-list-item" href="#">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">person</i>
                <span class="mdc-list-item__text">Personal</span>
            </a>

            <hr class="mdc-list-divider">
            <h6 class="mdc-list-group__subheader">Blog</h6>
            <a class="mdc-list-item" href="#">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">phone_android</i>
                <span class="mdc-list-item__text">Technology</span>
            </a>
            <a class="mdc-list-item" href="#">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">gamepad</i>
                <span class="mdc-list-item__text">Hobbies</span>
            </a>

            <hr class="mdc-list-divider">
            <h6 class="mdc-list-group__subheader">Contact</h6>
            <a class="mdc-list-item" href="#">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">email</i>
                <span class="mdc-list-item__text">Get in touch</span>
            </a>
        </nav>
    </div>
</aside>

<div class="mdc-drawer-scrim"></div>