<header class="mdc-top-app-bar app-bar drawer-top-app-bar" id="app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <a href="/" class="material-icons mdc-top-app-bar__navigation-icon">home</a>
      <span class="mdc-top-app-bar__title">Mark Bestavros</span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <!-- <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Bookmark this page">home</a> -->
      <nav class="navList">
        <li class="navListItem"><a class="navListLink mdc-typography--button mdc-button" id="about-button" href="/">About</a></li>
        <li class="navListItem"><a class="navListLink mdc-typography--button mdc-button" href="/about.html">Blog</a></li>
        <li class="navListItem"><a class="navListLink mdc-typography--button mdc-button" href="/contact.html">Contact</a></li>
      </nav>
    </section>
  </div>
</header>