// Import MDC Web components
@use "@material/theme" with (
  // MDC Web color mixins dynamically color components and text.
  $primary: #3d5afe,
  $secondary: #ff7043,
  $surface: #212121,
  $background: #121212,
  $on-primary: #ffffff,
  $on-secondary: #000000,
  $on-surface: #ffffff,
);

@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/button/mdc-button";
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/typography/mdc-typography";
@use "@material/chips/styles";
@use "@material/card/mdc-card";
@use "@material/fab/mdc-fab";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/ripple";

@include icon-button.core-styles;

body {
  background-color: #121212;
  display: flex;
  //height: 100vh;
  margin: 0;
  padding: 0;
  color: #fff;
  overflow: auto;
}

.main-content {
  //overflow: auto;
  //height: 100%;
}

.navListLink {
  margin: 0 8px;
}

.app-bar {
  //position: absolute;
}

// Hide top app bar title on mobile
/* BREAKPOINT min-width:900px */
.mdc-top-app-bar__title {
  display: block;
}

/* BREAKPOINT max-width:900px */
@media (max-width: 900px) {
  .mdc-top-app-bar__title {
    display: none;
  }
}

// General card styles
.card {
  overflow: hidden;
}

.card--title, .card--subtitle {
  text-align: center;
}

.card--primary,
.card--secondary {
  padding: 16px;
}

// Local media aspect ratio sizes: unbounded, 16:9, and square
.card-local-media {
}

.card-local-media img {
  width: 100%;
  height: 100%;
  margin: auto;
  display: block;
  object-fit: contain;
}

.card-local-media-half {
}

.card-local-media-half img {
  width: 50%;
  height: 50%;
  margin: auto;
  display: block;
  object-fit: contain;
}

.card-local-media-quarter {
}

.card-local-media-quarter img {
  width: 25%;
  height: 25%;
  margin: auto;
  display: block;
  object-fit: contain;
}


.card-local-media--16-9,
.card-local-media--square {
  position: relative;
}

.card-local-media--16-9::after {
  display: block;
  content: "";
  /* 16:9 aspect ratio */
  padding-bottom: 56.25%;
}

.card-local-media--16-9 img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-local-media--square::after {
  display: block;
  content: "";
  /* 16:9 aspect ratio */
  padding-bottom: 100%;
}

.card-local-media--square img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-padded-media {
  padding: 32px;
}

// Styles for floating action buttons
.fabs {
  padding: 8px;
  text-align: center;
}

.fab {
  margin: 8px 8px;
}

// Styles for horizontal cards

/* BREAKPOINT min-width:900px */
.horizontal-card__content {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.horizontal-card__title {
  display: block;
}
.horizontal-card__title-top {
  display: none;
}

.horizontal-card__icon-media {
  margin: auto;
  margin-left: 16px;
  margin-right: 16px;
  width: 40%;
  height: 40%;
}

/* BREAKPOINT max-width:900px */
@media (max-width: 900px) {
  .horizontal-card__content {
    display: block;
  }
  .horizontal-card__title {
    display: none;
  }
  .horizontal-card__title-top {
    display: block;
  }
  .horizontal-card__icon-media {
    margin: auto;
    width: 30%;
    height: 30%;
  }
}

// Styles for post page listing
.post-page-list {
  padding-bottom: 16px;
}

// Card styles for posts
.post-title {
  text-align: center;
  padding: 16px;
}

.post-content {
  padding: 16px;
}

.post-image {
  max-width: 100%;
  height: auto;
}

// Styles for plain links (most commonly used in articles)
a:link {
  color: #b6b7ff;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #8187ff;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #ff7043;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #ffa270;
  background-color: transparent;
  text-decoration: underline;
}

// Make body text larger and more readable
.mdc-typography--body1 {
  font-size: large;
  line-height: 1.5;
}
