// MDC Web color mixins dynamically color components and text.
$mdc-theme-primary: #3d5afe;
$mdc-theme-secondary: #ff7043;
$mdc-theme-surface: #212121;
$mdc-theme-background: #121212;
$mdc-theme-error: #b00020;

// Import MDC Web components
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/typography/mdc-typography";

body {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

/* BREAKPOINT min-width:900px */
.mdc-top-app-bar__navigation-icon {
  display: none;
}

/* BREAKPOINT max-width:900px */
@media (max-width: 900px) {
  .mdc-top-app-bar__navigation-icon {
    display: block;
  }
}