// Import MDC Web components
@use "@material/theme" with (
  // MDC Web color mixins dynamically color components and text.
  $primary: #3d5afe,
  $secondary: #ff7043,
  $surface: #212121,
  $background: #121212,
  $on-primary: #ffffff,
  $on-secondary: #ffffff,
  $on-surface: #ffffff,
);

@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/button/mdc-button";
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/typography/mdc-typography";
@use "@material/chips/mdc-chips";
@use "@material/card/mdc-card";
@use "@material/fab/mdc-fab";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";

@include icon-button.core-styles;

body {
  background-color: #121212;
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #fff;
}

.app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
}

// Reset List Styles
.navList {
  list-style: none;
  height: 32px;
  padding-left: 0;
}

// Style the list items side by side
.navListItem {
  display: inline-block;
  margin: 0 8px;
}

.app-bar {
  position: absolute;
}

/* BREAKPOINT min-width:900px */
.mdc-top-app-bar__title {
  display: block;
}

/* BREAKPOINT max-width:900px */
@media (max-width: 900px) {
  .mdc-top-app-bar__title {
    display: none;
  }
}

// Card styles for home
.home-card__primary {
  padding: 16px;
}

.home-card__secondary {
  padding: 16px;
}

// Card styles for article listing
.article-card__primary {
  padding: 16px;
}

.article-card__secondary {
  padding: 16px;
}

// Card styles for post content
.post-content {
  padding: 16px;
}

.post-image {
  max-width: 100%;
  height: auto;
}

// Styles for bottom FABs on post lists
.post-list-fabs {
  padding: 8px;
  text-align: center;
}

.post-list-fab {
  margin: 8px 8px;
}
