---
---

// :root {
//   --mdc-theme-primary: #3d5afe;
//   --mdc-theme-secondary: #ff7043;
//   --mdc-theme-on-primary: #fff;
//   --mdc-theme-on-secondary: #000;
//   --mdc-theme-on-surface: #fff;
//   --mdc-theme-background: #121212;
//   --mdc-theme-surface: #212121;
// }

body {
  /* Rest of app not ready for dark background */
  /* background: #121212; */
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

/* BREAKPOINT min-width:900px */

.mdc-top-app-bar__navigation-icon {
  display: none;
}

/* BREAKPOINT max-width:900px */

@media (max-width: 900px) {
  .mdc-top-app-bar__navigation-icon {
    display: block;
  }
}
