{% comment %}
This is the design of each post card.
{% endcomment %}

<div class="mdc-layout-grid__cell">
    <div class="mdc-card">
        <div class="mdc-card__primary-action" onclick="window.location.href='{{ post.url }}'">
            <div class="card--primary">
                <h2 class="card--title mdc-typography mdc-typography--headline5">{{ post.data.title }}
                </h2>
                <h3 class="article-card__subtitle mdc-typography mdc-typography--subtitle2">
                    {{ post.date | date: "%Y-%m-%d" }}</h3>
            </div>
            <div class="card--secondary mdc-typography mdc-typography--body1">{{ post.data.subtitle }}</div>
        </div>
        {% if post.data.tags.size > 1 %}
        <div class="mdc-card__actions">
            <div class="mdc-card__action-buttons">
                <div class="mdc-chip-set" role="grid">
                    {% for tag in post.data.tags %}
                    {% if tag != "blog" %}
                    <div class="mdc-chip" role="row" onclick="window.location.href='/blog/tags/{{ tag }}'">
                        <div class="mdc-chip__ripple"></div>
                        <span role="gridcell">
                            <span role="button" tabindex="0" class="mdc-chip__primary-action">
                                <span class="mdc-chip__text">{{ tag }}</span>
                            </span>
                        </span>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
