<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include snippets/head.html %}

<body class="mdc-typography">
    <div class="app-content">
        {% include snippets/top-app-bar.html %}
        <main class="main-content" id="main-content" aria-label="Content">
            <div class="mdc-top-app-bar--fixed-adjust">
                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2"></div>
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 main-content-container">
                            {{ content }}
                        </div>
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

<script>{% include assets/bundle.js %}</script>

</html>
