<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include 'snippets/head.html' %}

<body class="mdc-typography">
    {% include 'snippets/top-app-bar.html' %}
    <main class="main-content mdc-top-app-bar--fixed-adjust" id="main-content" aria-label="Content">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2"></div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 main-content-container">
                    {{ content }}
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2"></div>
            </div>
        </div>
    </main>
</body>

<script type="module" src="/assets/js/app.js"></script>
<script data-goatcounter="https://mbestavros-personal-site.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

</html>
