---
layout: layouts/default
---
<div class="mdc-card card">
    <div class="post-title mdc-typography" id="article-titles">
        <h1 class="article-title mdc-typography--headline3" id="article-title">{{ title }}</h1>
        <h3 class="article-subtitle mdc-typography--headline6" id="article-subtitle">{{ subtitle }}</h3>
    </div>
    <div class="mdc-card__media card-local-media--16-9">
        {% responsiveImage, header-image, "" %}
    </div>
    <div class="post-content mdc-typography mdc-typography--body1">
        {{ content | safe }}
    </div>
    {% if tags.size > 1 %}
        <div class="mdc-card__actions">
            <div class="mdc-card__action-buttons">
                <span class="mdc-evolution-chip-set" role="grid">
                    <span class="mdc-evolution-chip-set__chips" role="presentation">
                        {% for tag in tags %}
                        {% if tag != "blog" %}
                        <span class="mdc-evolution-chip" role="row" onclick="window.location.href='/blog/tags/{{ tag }}'">
                            <span class="mdc-evolution-chip__cell mdc-evolution-chip__cell--primary" role="gridcell">
                                <button class="mdc-evolution-chip__action mdc-evolution-chip__action--primary" type="button" tabindex="-1">
                                    <span class="mdc-evolution-chip__ripple mdc-evolution-chip__ripple--primary"></span>
                                    <span class="mdc-evolution-chip__text-label">{{ tag }}</span>
                                </button>
                            </span>
                        </span>
                        {% endif %}
                        {% endfor %}
                    </span>
                </span>
            </div>
        </div>
    {% endif %}
</div>
