---
layout: layouts/default
---
<div class="mdc-card card">
    <div class="post-title mdc-typography" id="article-titles">
        <h1 class="article-title mdc-typography--headline3" id="article-title">{{ title }}</h1>
        <h3 class="article-subtitle mdc-typography--headline6" id="article-subtitle">{{ subtitle }}</h3>
    </div>
    <div class="mdc-card__media card-local-media--16-9">
        {% responsiveImage, header-image, "" %}
    </div>
    <div class="post-content mdc-typography mdc-typography--body1">
        {{ content | safe }}
    </div>
    {% if tags.size > 1 %}
        <div class="mdc-card__actions">
            <div class="mdc-card__action-buttons">
                <div class="mdc-chip-set" role="grid">
                    {% for tag in tags %}
                    {% if tag != "blog" %}
                    <div class="mdc-chip" role="row" onclick="window.location.href='/blog/tags/{{ tag }}'">
                        <div class="mdc-chip__ripple"></div>
                        <span role="gridcell">
                            <span role="button" tabindex="0" class="mdc-chip__primary-action">
                                <span class="mdc-chip__text">{{ tag }}</span>
                            </span>
                        </span>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
