---
layout: layouts/default
---
<div class="mdc-card card">
    <div class="post-title mdc-typography" id="article-titles">
        <h1 class="article-title mdc-typography--headline3" id="article-title">{{ title }}</h1>
        <h3 class="article-subtitle mdc-typography--headline6" id="article-subtitle">{{ subtitle }}</h3>
    </div>
    <div class="mdc-card__media card-local-media--16-9">
        {% responsiveImage, header-image, "" %}
    </div>
    <div class="post-content mdc-typography mdc-typography--body1">
        {{ content | safe }}
    </div>
</div>
